section#contact {
  background-color: $color-bg-black;

  a.button {
    margin-top: $margin-m;
    box-shadow: 1px 1px $color-bg-black, 2px 2px $btn-shadow-second;
  }
}

#contact-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;

  & > div {
    margin-right: $margin-xl;
  }

  h3 {
    margin-bottom: $margin-m;
    margin-top: $margin-xl;
  }

  p {
    margin-bottom: $margin-x;
  }
}

#working-days {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  gap: 1.6rem;
}

.days {
  border-radius: $radius;
  padding: $padding-s;
  background-color: $color-bg-white;
  text-align: center;

  span {
    color: $color-text-black;
    font-weight: 400;
  }

  & > span:first-child {
    color: $color-text-orange-dark;
  }
}

#time {
  font-size: $font-size-s;
}
