@font-face {
  font-family: noto-regular;
  src: url(../font/NotoSansTC-Regular.otf);
}

@font-face {
  font-family: noto-bold;
  src: url(../font/NotoSansTC-Bold.otf);
}

@font-face {
  font-family: noto-light;
  src: url(../font/NotoSansTC-Light.otf);
}

@font-face {
  font-family: petit;
  src: url(../font/PetitFormalScript-Regular.ttf);
}
