* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: $font-family-primary, sans-serif;
  font-size: 62.5%;
  color: $color-text-white;
}

html {
  scroll-behavior: smooth;
}

a,
p,
li,
span,
q {
  font-size: $font-size-m;
  color: $color-text-white;
  font-weight: $font-weight-light;
}

a {
  text-decoration: none;
}

h1 {
  font-size: $font-size-m;
  font-family: $font-family-logo, sans-serif;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  color: $color-text-orange;
}

a.button {
  position: relative;
  margin: $margin-m auto 0 auto;
  padding: $padding-button-tb $padding-button-rl;
  background-color: transparent;
  border: 2px solid $color-bg-orange;
  border-radius: $radius;
  transition: all 0.5s ease;
  box-shadow: 1px 1px rgb(92, 79, 79), 2px 2px $btn-shadow-second;

  &:hover {
    background-color: $color-bg-orange;
    color: $color-text-btn-hover;
  }
}

main section {
  position: relative;
  padding: $padding-section-top $padding-xl $padding-section-bottom $padding-xl;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
  }
}
