* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: noto-regular, sans-serif;
  font-size: 62.5%;
  color: #fff;
}

a,
p,
li,
span,
q {
  font-size: 1.6rem;
  color: #fff;
  font-family: noto-light;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  font-family: petit;
  font-weight: 600;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #cf8a37;
}

a.button {
  position: relative;
  margin: 1.6rem auto 0 auto;
  padding: 0.8rem 3.6rem;

  background-color: transparent;
  border: 2px solid #cf8a37;
  border-radius: 4px;
  transition: all 0.5s ease;
  box-shadow: 1px 1px rgb(92, 79, 79), 2px 2px #967f7f;

  &:hover {
    background-color: #cf8a37;
    color: rgb(48, 36, 36);
  }
}
