header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("../img/banner/background.jpg") no-repeat bottom;
  background-color: black;
  background-size: cover;

  nav {
    display: flex;
    flex-direction: row;
    padding: 2.4rem;
    align-items: center;

    @media screen and (min-width: 1280px) {
      width: 1280px;
      margin: 0 auto;
    }

    h1 {
      flex: 1;
    }

    #close-menu {
      position: absolute;
      top: 2.4rem;
      right: 2.4rem;
    }

    #menu-burger,
    #close-menu {
      @media screen and (min-width: 600px) {
        display: none;
      }

      img {
        padding: 8px;
        display: block;
      }
    }

    #devider {
      @media screen and (min-width: 600px) {
        display: block;
        width: 1px;
        height: 48px;
        background-color: #fff;
      }
    }

    #social {
      margin: 0px 0px 4.8rem 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      @media screen and (min-width: 600px) {
        margin: 0px;
        margin-left: 8px;
      }

      a {
        font-size: 0px;
        text-indent: -9999em;
        margin: 0 8px;
        padding: 0px;
        width: 30px;
        height: 30px;
      }
    }

    ul {
      list-style: none;
      margin-top: 4.8rem;
      margin-bottom: 2.4rem;

      @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: row;
        margin: 0px;
      }

      li {
        text-align: center;

        a {
          display: block;
          padding: 1.6rem;
          margin-bottom: 0.8rem;

          @media screen and (min-width: 600px) {
            padding: 8px;
            margin: 0px 8px;
          }

          &:hover {
            color: #e2a256;
          }
        }
      }
    }

    .navigation {
      position: absolute;
      z-index: 99;
      width: 100vw;
      padding: 2.4rem;
      background-color: #0c0c0c;
      top: 0;
      left: 0;
      transform: translateY(-102%);
      transition: transform 0.5s ease;
      box-shadow: 0 0 8px black;

      @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: auto;
        padding: 0px;
        box-shadow: none;
        transform: translateY(0%);
        background-color: transparent;
      }
    }

    .open {
      transform: translateY(0%);
      width: 100%;
    }
  }
}

section#introduction {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#introduction-main {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  h2 {
    font-size: 4.8rem;
    font-weight: 400;
    text-align: center;
  }

  a {
    position: relative;
    align-self: flex-start;
    margin: 1.6rem auto 0 auto;
    padding: 0.8rem 3.6rem;

    background-color: transparent;
    border: 2px solid #cf8a37;
    border-radius: 4px;
    transition: all 0.5s ease;
    box-shadow: 1px 1px rgb(92, 79, 79), 2px 2px #967f7f;

    &:hover {
      background-color: #cf8a37;
      color: rgb(48, 36, 36);
    }
  }
}

#info-wrapper {
  width: 100%;
  background-color: #0c0c0c;
}

#introduction-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.6rem;

  @media screen and (min-width: 1280px) {
    width: 1280px;
    margin: 0 auto;
  }

  div {
    margin: 1.6rem;
  }
}

#opening-hours,
#phone-number,
#address {
  padding-left: 32px;

  &::before {
    content: "";
    display: inline;
  }
}

#opening-hours {
  background: url("../img/icons/calendar.svg") no-repeat;
  background-position: 0px 5px;
}

#phone-number {
  background: url("../img/icons/phone.svg") no-repeat;
  background-position: 0px 5px;
}

#address {
  background: url("../img/icons/map.svg") no-repeat;
  background-position: 0px 5px;
}

#facebook {
  background: url("../img/social/facebook.png") no-repeat center;

  &:hover {
    background: url("../img/social/facebook-hover.png") no-repeat center;
  }
}

#instagram {
  background: url("../img/social/instagram.png") no-repeat center;

  &:hover {
    background: url("../img/social/instagram-hover.png") no-repeat center;
  }
}
