$color-bg-black: #0c0c0c;
$color-bg-white: #fff;
$color-text-black: #000;
$color-text-orange: #cf8a37;

$margin-s: 1.2rem;
$margin-m: 1.6rem;
$margin-x: 2.6rem;
$margin-xl: 3.6rem;

$padding-s: 1.2rem;

$font-size-s: 1.4rem;

$btn-shadow-second: #967f7f;

$radius: 4px;
